/Stage3/nbproject/private/
/Stage3/build/
/Stage 4/Stage4/nbproject/private/
/Stage 4/Demo V1/Hardware_Store/nbproject/private/
/Stage 4/Demo V1/Hardware_Store/build/
/Stage 4/Stage4/Hardware_Store/build/
/Stage 4/Stage4/Hardware_Store/nbproject/private/
/Stage 4/Stage4/Hardware_StoreV2/build/
/Stage 4/Stage4/Hardware_StoreV2/nbproject/private/
